@import "../../colors/colors.scss";

.mainContent {
  padding: 30px;
  width: 100%;
  .toolsCont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  select {
    width: 155px;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px;
    height: 40px;
    cursor: pointer;
  }
  input {
    transform: scale(1.3);
    margin-left: 20px;
    margin-right: 5px;
  }
  .hr {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: $lineColor;
  }
}

.addButton {
  background-color: gray;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 8px;
  color: $whiteColor;
  cursor: pointer;
  span {
    margin-left: 6px;
  }
}

.chosenPage {
  display: none;
}

@media screen and (max-width: 1024px) {
  .chosenPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    cursor: pointer;
    .arrow {
      transform: rotate(-90deg);
    }
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .toolsCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    input {
      margin-left: 0;
    }
  }
  .addButton {
    height: 40px;
    flex-direction: row !important;
    justify-content: center;
    span,
    svg {
      margin: 0 -6px;
    }
  }
}
