$secondaryColor: rgba(19, 36, 80, 1);
$whiteColor: rgba(255, 255, 255, 1);
$textFieldColor: rgba(240, 247, 255, 1);
$secondaryTextColor: rgba(56, 58, 72, 0.6);
$successColor: #07bc0c;
$lineColor: rgba(158, 185, 255, 0.2);
